# house price prediction

### Importing necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Reading Excel File and making dataset

In [2]:
df=pd.read_excel("Multiple_linear_regression_house.xlsx")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

### Handling Null values

In [3]:
med=round(df.median())
df.fillna(med,inplace=True)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

### Correlation matrix

In [4]:
df.corr()

              area  bedrooms       age     price
area      1.000000  0.597205 -0.224033  0.863330
bedrooms  0.597205  1.000000 -0.887566  0.822507
age      -0.224033 -0.887566  1.000000 -0.621277
price     0.863330  0.822507 -0.621277  1.000000

### Building Model

In [5]:
from sklearn import linear_model
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

### coefficient and intercept of regression line

In [6]:
print(reg.coef_,reg.intercept_)

[   165.47645491 -72491.11505997 -10725.23322968] 543902.7099067072

In [7]:
reg.predict([[2000,3,1],[5000,5,10]])

D:\Program Files\Anaconda\New folder\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([646657.04131497, 901577.07685473])

### Storing model in pickle file

In [8]:
import pickle
with open('house_model.pkl','wb') as f:
    pickle.dump(reg,f)
with open('house_model.pkl','rb') as f:
    model=pickle.load(f)
model.predict([[2000,3,1]])

D:\Program Files\Anaconda\New folder\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([646657.04131497])